<div class="container-fluid emergencystop">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <button type="button" class="btn btn-lg btn-danger" {{action 'stop'}} aria-label="Stop">
            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>&nbsp;Emergency stop
        </button>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="button" class="btn btn-lg" {{action 'forward'}} aria-label="Forward">
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <button type="button" class="btn btn-lg" {{action 'left'}} aria-label="Left">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 text-center">
            <button type="button" class="btn btn-lg" {{action 'right'}} aria-label="Right">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="button" class="btn btn-lg" {{action 'backward'}} aria-label="Backward">
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <button type="button" class="btn btn-lg btn-danger" {{action 'clearCommands'}} aria-label="Clear commands">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
            <button type="button" class="btn btn-lg btn-success" {{action 'start'}} aria-label="Start"
                    disabled={{model.startDisabled}}>
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Command</th>
    </tr>
    </thead>
    <tbody>
    {{#if model.startDisabled}}
        <tr>
            <td class="text-center">No commands yet</td>
        </tr>
    {{else}}
      {{#each model.commands as |command|}}
          <tr>
              <td>{{command.label}}</td>
              <td class="text-right">
                  <button type="button" class="btn btn-danger" {{action 'removeCommand' command}}
                          aria-label="Remove command">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
              </td>
          </tr>
      {{/each}}
    {{/if}}
    </tbody>
</table>

{{outlet}}
